.header
    &-top
        padding: 15px 0
        border-bottom: 1px solid #F4F5F6
        display: flex
        align-items: center
        justify-content: space-between
        &__nav
            margin: 0
            padding: 0
            list-style-type: none
            display: flex
            align-items: center
            li
                margin-right: 20px
            a
                font-size: 14px
                line-height: 20px
                color: #A9A9A9
                text-decoration: none
                &:hover
                    color: #1A1C23
        &__phone
            font-size: 14px
            line-height: 20px
            color: #1A1C23
            text-decoration: none
            display: flex
            align-items: center
            margin-right: 24px
        &__info
            margin-left: 6px
            display: flex
            align-items: center
        &__dop
            display: flex
            align-items: center
        &__call
            text-decoration: none
            font-size: 14px
            line-height: 20px
            margin-right: 24px
            color: #1A1C23
            &:hover
                opacity: 0.9
        &__lk
            text-decoration: none
            font-size: 14px
            line-height: 20px
            color: #1A56FF
            display: flex
            align-items: center
            img
                margin-left: 10px
    &-main
        padding: 20px 0
        display: flex
        justify-content: space-between
        align-items: center
        &__nav
            display: flex
            align-items: center
        &__consult
            display: flex
            align-items: center
        &__logo
            margin-right: 30px
        &__subtitle
            font-size: 12px
            line-height: 16px
            color: #A9A9A9
            margin-right: 50px
            max-width: 90px
        &__menu
            display: flex
            align-items: center
            list-style-type: none
            margin: 0
            padding: 0
            li
                margin-right: 24px
            a
                text-decoration: none
                font-size: 15px
                line-height: 20px
                color: #1A1C23
                transition: all 0.3s
                &:hover
                    color: #1A56FF
        &__consult
            span
                max-width: 170px
                font-size: 14px
                line-height: 20px
                text-align: right
                color: #1A1C23
                margin-right: 20px
        &__soc
            width: 32px
            height: 32px
            margin-left: 8px
            border-radius: 50%
            display: flex
            align-items: center
            justify-content: center
            &.wa
                background: #1BD741
                padding-bottom: 1px
            &.viber
                background: #7D3DAF
            &.tg
                background: #039BE5
                padding-right: 2px
            &:hover
                opacity: 0.9
    &-bottom
        border: 1px solid #EDEDED
        border-radius: 8px
        display: flex
        position: relative
        &__last
            display: flex
        &__menu
            background: #F4F5F6
            border-radius: 8px 0 0 8px
            height: 56px
            width: 265px
            justify-content: center
            align-items: center
            display: flex
            margin: -1px
            font-size: 16px
            line-height: 24px
            color: #1A1C23
            cursor: pointer
            &.active
                color: #FFFFFF
                background: #1A56FF
                border-radius: 8px 0 0 0
            img
                margin-right: 22px
        &__link
            width: 64px
            height: 54px
            border-left: 1px solid #EDEDED
            display: flex
            justify-content: center
            align-items: center
            path
                transition: all 0.3s
            &:hover
                path
                    fill: #1A56FF
        &__cart
            border-left: 1px solid #EDEDED
            width: 145px
            display: flex
            align-items: center
            justify-content: center
            font-size: 12px
            line-height: 14px
            text-decoration: none
            color: #A9A9A9
            span
                max-width: 70px
            svg
                margin-right: 17px
            path
                transition: all 0.3s
            &:hover
                path
                    fill: #1A56FF
        &__drop
            display: none
            top: 100%
            left: 0
            position: absolute
            z-index: 3
            background: #FFFFFF
            box-shadow: 0px 64px 64px rgba(31, 47, 70, 0.12)
            border-radius: 0 0 24px 24px
            width: 100%
            overflow: hidden
            &-block
                display: block
                padding: 12px 16px
                font-size: 16px
                line-height: 24px
                text-decoration: none
                color: #1A1C23
                transition: all 0.3s
                &:hover
                    color: #1A1C23
                    background: #F4F5F6
                    border-radius: 8px
        &__search
            width: calc(100% - 538px)
            position: relative
            input
                height: 54px
                width: 100%
                border: 0
                font-family: Suisse Intl
                padding: 0 20px
                font-size: 16px
                border-bottom: 1px solid transparent
                &:focus
                    outline: none
                    border-bottom: 1px solid #1A56FF
                    & + .header-bottom__drop
                        display: block
            button
                position: absolute
                border: 0
                right: 0
                bottom: 0
                background-color: transparent
                width: 54px
                height: 54px
                path, rect
                    transition: all 0.3s
                &:hover
                    path, rect
                        stroke: #1A56FF
.menu
    position: absolute
    top: 100%
    left: -1px
    z-index: 5
    display: flex
    width: 100%
    overflow: hidden
    &__first
        background: #1A56FF
        width: 264px
        display: none
        &.active
            display: block
        &-el
            display: block
            font-size: 16px
            line-height: 24px
            padding: 12px 18px
            color: #FFFFFF
            text-decoration: none
            position: relative
            &::after
                content: ""
                display: block
                width: 7px
                height: 12px
                background: url('../img/menu-next.svg') center no-repeat
                position: absolute
                top: 18px
                right: 12px
                display: block

    &__second
        width: 264px
        background: #fff
        display: none
        position: absolute
        top: 0
        left: 264px
        &:hover
            display: block
        &-el
            display: block
            font-size: 16px
            line-height: 24px
            padding: 12px 18px
            color: #1A1C23
            text-decoration: none
            position: relative
            &::after
                content: ""
                display: block
                width: 7px
                height: 12px
                background: url('../img/menu-next.svg') center no-repeat
                position: absolute
                top: 18px
                right: 12px
                display: block
    &__third
        width: 500px
        background: #fff
        display: none
        position: absolute
        left: 264px
        top: 0
        &:hover
            display: block
        &-el
            display: block
            font-size: 16px
            line-height: 24px
            padding: 12px 18px
            color: #1A1C23
            text-decoration: none
            &:hover
                background: #F4F5F6
                border-radius: 8px
                color: #1A1C23
@media(min-width: 992px)
    .menu
        &__first
            &-el:hover
                background: rgba(255, 255, 255, 0.1)
                border-radius: 8px
                color: #FFFFFF
                & + .menu__second
                    display: block
        &__second
            &-el:hover
                background: #F4F5F6
                border-radius: 8px
                color: #1A1C23
                & + .menu__third
                    display: block
@media(max-width: 1399px)
    .header-main__menu
        li
            margin-right: 10px
@media(max-width: 1199px)
    .header-main__menu
        flex-wrap: wrap
        max-width: 350px
        li
            margin-right: 15px
@media(max-width: 991px)
    .header
        &-top
            display: none
        &-main
            position: relative
            height: 0
            padding: 0
            &__menu,&__consult
                display: none
            &__nav
                position: absolute
                top: 24px
                left: 52px
        &-bottom
            justify-content: space-between
            border-radius: 0
            border-left: 0
            border-right: 0
            &__link
                height: 80px
                width: 80px
            &__cart
                height: 80px
                width: 80px
                span
                    display: none
                svg
                    margin-right: 0
            &__menu
                background: transparent
                width: 20px
                height: 80px
                span
                    display: none
                img
                    margin-right: 0
                &.active
                    background-color: #fff
            &__search
                width: calc(100% - 260px)
                height: 80px
                button
                    height: 80px
                input
                    display: none
                    position: absolute
                    top: 100%
                    left: 0
                    width: 80vw
                    z-index: 3
                    box-shadow: 0px 64px 64px rgba(31, 47, 70, 0.12)
            &__drop
                top: calc(100% + 54px)
                width: 80vw
    .menu
        &__first, &__second, &__third
            position: fixed
            width: 100vw
            height: calc(100vh - 80px)
            top: 80px
            left: 0
            background-color: #fff
            z-index: 5
            &-el
                display: block
                font-size: 16px
                line-height: 24px
                padding: 12px 18px
                color: #1A1C23
                text-decoration: none
                &:hover
                    .menu__second
                        display: none
        &__second
            z-index: 6
        &__third
            z-index: 7
@media(max-width: 767px)
    .header
        &-main
            &__subtitle
                display: none
@media(max-width: 575px)
    .header
        &-main
            &__nav
                top: 16px
                left: 30px
            &__logo img
                max-width: 120px
        &-bottom
            height: 64px
            margin-right: -12px
            &__menu
                height: 64px
            &__link, &__cart
                height: 65px
                width: 50px
            &__search
                height: 64px
                width: calc(100% - 170px)
                button
                    height: 64px
@media(max-width: 360px)
    .header
        &-main
            &__nav
                top: 20px
            &__logo img
                max-width: 80px
