.repair
    &-main
        padding-top: 24px
        padding-bottom: 32px
        &__wrap
            border-radius: 32px
            background: #1A56FF url('../img/repair/repare-main.png') right center no-repeat
            height: 480px
            padding: 48px 56px
            position: relative
        &__title
            font-weight: 600
            font-size: 36px
            line-height: 48px
            color: #FFFFFF
            margin-bottom: 16px
        &__descr
            font-size: 16px
            line-height: 24px
            color: #FFFFFF
            opacity: 0.8
            margin-bottom: 144px
        &__link
            position: absolute
            left: 56px
            bottom: 48px
            padding: 18px 28px
            background: #FEDC5A
            border-radius: 80px
            font-size: 18px
            line-height: 20px
            color: #1A1C23
            transition: all 0.3s
            text-decoration: none
            &:hover
                opacity: 0.9
                color: #1A1C23
    &-info
        &__title
            margin-bottom: 16px
            text-align: left
        &__subtitle
            font-size: 16px
            line-height: 24px
            margin-bottom: 40px
        &__block
            min-height: 160px
    &-problem
        &__title
            font-weight: 600
            font-size: 36px
            line-height: 48px
            color: #1A1C23
            margin-top: 0
            margin-bottom: 24px
        &__wrap
            grid-gap: 32px
            display: grid
            grid-template-columns: repeat(3, 1fr )
        &__block
            background: #FFFFFF
            border: 1px solid #F4F5F6
            border-radius: 32px
            box-shadow: 0px 64px 64px rgba(31, 47, 70, 0.12)
            padding: 28px 32px
            position: relative
        &__name
            font-weight: 600
            font-size: 24px
            line-height: 28px
            color: #1A1C23
            margin-bottom: 12px
        &__text
            font-size: 16px
            line-height: 24px
            margin-bottom: 62px
        &__btn
            padding: 12px 20px
            color: #1A56FF
            font-size: 14px
            line-height: 16px
            text-decoration: none
            transition: all 0.3s
            border: 1px solid #1A56FF
            border-radius: 80px
            position: absolute
            left: 32px
            bottom: 28px
            &:hover
                background-color: #1A56FF
                color: #fff
        &__end
            background: #1A56FF
            border: 1px solid #F4F5F6
            border-radius: 32px
            padding: 28px 32px
            position: relative
            &-title
                font-weight: 600
                font-size: 24px
                line-height: 28px
                color: #FFFFFF
                margin-bottom: 12px
            &-subtitle
                font-size: 16px
                line-height: 24px
                color: #FFFFFF
                margin-bottom: 20px
            &-bonus
                display: flex
                align-items: center
                margin-bottom: 74px
                img
                    margin-right: 20px
                span
                    font-size: 14px
                    line-height: 20px
                    color: #FFFFFF
            &-btn
                padding: 12px 20px
                color: #1A1C23
                background-color: #FEDC5A
                font-size: 14px
                line-height: 16px
                text-decoration: none
                transition: all 0.3s
                border: 1px solid #FEDC5A
                border-radius: 80px
                position: absolute
                left: 32px
                bottom: 28px
                &:hover
                    background-color: #1A56FF
                    color: #fff
    &-video
        &__video
            height: 600px
            margin-top: 24px
            .thx__video
                height: 100%
        &__block
            span
                margin-bottom: 0
        &__play
            background-color: transparent
            border: 2px solid #FFFFFF
            transition: all 0.3s
            &:hover
                transform: scale(1.1)
    &-price
        padding: 120px 0
        &__title
            font-weight: 600
            font-size: 36px
            line-height: 48px
            color: #1A1C23
            margin-bottom: 16px
        &__subtitle
            font-size: 16px
            line-height: 24px
            color: #A9A9A9
            margin-bottom: 48px
        &__name
            position: relative
            &_empty
                cursor: default
                &::after
                    display: none
            &-free
                padding: 7px 16px
                background: #45B26B
                border-radius: 60px
                font-weight: 600
                font-size: 18px
                line-height: 24px
                color: #FFFFFF
                position: absolute
                top: 50%
                left: 75%
                margin-top: -19px
            &-price
                padding: 7px 16px
                background: #1A1C23
                border-radius: 60px
                font-weight: 600
                font-size: 18px
                line-height: 24px
                color: #FFFFFF
                position: absolute
                top: 50%
                left: 75%
                margin-top: -19px
        &__line
            display: flex
            align-items: center
            font-size: 18px
            line-height: 24px
            color: #1A1C23
            margin-bottom: 20px
            &-title
                width: 75%
            &-cont
                width: 25%
    &-features
        &__wrap
            background: #2B2A3B url('../img/repair/repair-features-bg.png') center no-repeat
            border-radius: 32px
            padding: 80px 82px
@media(max-width: 1199px)
    .repair
        &-problem
            &__wrap
                grid-template-columns: repeat(2, 1fr )
        &-video
            &__video
                height: auto
@media(max-width: 991px)
    .repair
        &-problem
            &__wrap
                grid-template-columns: repeat(1, 1fr )
        &-main
            &__wrap
                height: 300px
                padding: 0
                padding-top: 300px
                margin-bottom: 300px
            &__title
                color: #1A1C23
                padding-top: 20px
            &__descr
                color: #1A1C23
                margin-bottom: 16px
            &__link
                position: static
                display: inline-block
@media(max-width: 767px)
    .repair
        &-main
            &__title
                font-size: 28px
                line-height: 38px
                br
                    display: none
@media(max-width: 575px)
    .repair
        &-main
            &__title
                font-size: 24px
                line-height: 32px
            &__link
                width: 100%
                text-align: center
                font-size: 14px
                padding-left: 5px
                padding-right: 5px
            &__wrap
                height: 200px
                padding-top: 200px
                border-radius: 0
                margin-left: -12px
                margin-right: -12px
            &__cont
                padding-left: 12px
                padding-right: 12px
        &-problem
            &__title
                font-size: 24px
                line-height: 32px
            &__wrap
                grid-gap: 24px
            &__block
                padding: 16px
            &__btn
                left: 16px
                bottom: 16px
            &__end
                padding: 16px
                &-btn
                    left: 16px
                    bottom: 16px
        &-price
            padding: 80px 0
            &__title
                font-size: 24px
                line-height: 32px
            &__subtitle
                margin-bottom: 16px
            &__name
                &-price, &-free
                    position: static
                    margin-top: 5px
                    display: inline-block
